# Exclude application properties
src/main/resources/application.properties

# Ignore build files
target/
out/

# Ignore IDE files
.idea/
*.iml

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore MacOS related files
.DS_Store

# Ignore private key files
pk-APKAU6GDZ6LS6N3OZFX2.der
pk-APKAU6GDZ6LS6N3OZFX2.pem

# Ignore the public key file
rsa-APKAU6GDZ6LS6N3OZFX2.pem
